.header{
	padding: 65px;
	text-align: center;
	background-color: pink;
	color: white;
	font-size: 35px;

}
.shaz{
	font-size: 20px;
	font-style: bold;
	text-align: center;
}
.anita{
	padding: 5px;
	margin: 10px;
	border-style: double;
}

.wendy li{
	color: black;
	padding: left;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	float: right;
	list-style: none;
	padding: 20px;

}
.june{
	background-color: white;
}